.news {
  padding-top: 140px;
  &__items {
    display: flex;
    column-gap: 30px;
  }
  &__time {
    font-size: 16px;
    line-height: 19px;
    color: #4b4b4b;
  }
  &__img {
    margin-top: 10px;
    width: 382px;
    object-fit: cover;
  }
  &__title {
    margin-top: 15px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #141313;
  }
  &__subtitle {
    margin-top: 5px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #4b4b4b;
  }
}
.down {
  position: absolute;
  display: flex;
  column-gap: 20px;
  right: 35px;
  top: 7px;
}
.down__next,
.down__prew {
  width: 23px;
  height: 23px;
  cursor: pointer;
  &:hover svg path {
    fill: #141313;
  }
}
