.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #141313;
  &__name {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #141313;
  }
}
